:root {
  --color-primary: hsl(238 70% 57%);
  --color-primary-variant: hsl(238 70% 37%);

  --color-secondary: hsl(358 70% 57%);
  --color-secondary-variant: hsl(358 70% 77%);

  --color-background: #0d0628;

  --color-surface-variant: #2a0944;
  --color-surface: #202030;

  --color-foreground: #fdfdff;

  --color-contrast: #ffbd00;
  --color-contrast-variant: #ec9ded;
}
